* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: white;
}


body {
    padding: 0;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(157,74,135,1) 35%, rgba(0,212,255,1) 100%);
}

.calculator{
    margin: 100px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.result-board{
    grid-column: 1 / -1;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-result{
    font-size: 16px;
    font-weight: 400;
    color:rgba(157,74,135,1);
}

button{
    cursor: pointer;
    border: 1px solid;
    background: silver;
    outline: none;
}

button:hover, button:focus{
    background: rgba(157,74,135,1);
    color:white;
}

.two-col{
    grid-column: span 2;
}

.color{
    color:rgba(0,212,255,1);
}

h1{
    font-size: 50px;
    width: 5em;
    margin-left: auto;
    margin-right: auto;
}